html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #212529;
  padding-top: 1rem;
}

@media screen and (min-width:576px) {
  header {
    display: flex;
    align-items: center;
  }
  .search_form {
    margin-left: auto;
    margin-right: 1.5rem;
  }
}

.header-img img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.site-title {
  margin: 0 0 0 1.5rem;
  padding-top: 0;
}
.site-title a {
  text-decoration: none;
  color: #fff;
}

.search_form {
  padding: 1rem 0 1rem 1.5rem;
}
.search_form form {
  display: flex;
}
.search_form form input {
  font-size: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 2px;
  font-weight: 400;
  display: block;
  border: 1px solid #ced4da;
}
.search_form form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.search_form form button svg {
  fill: #fff;
  vertical-align: middle;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 900;
}

h2 {
  font-size: 2.625rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

main {
  width: 90%;
  margin: 2rem auto 2rem;
  min-height: calc(100vh - 70px);
}

/* category index.php */
.top-catnav {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.parent-cat {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.8rem 1.8rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
@media screen and (min-width:768px) {
  .parent-cat {
    width: 30%;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    background: #fff;
    
  }
}
.parent-cat-name {
  display: flex;
  align-items: center;
  padding: 0 0 1.5rem;
}
.parent-cat-name img {
  width: 18px;
  padding-right: 10px;
}
.parent-cat h2 {
  font-size: 1.2rem;
  margin: 0;
}
.parent-cat  ul {
}
.child-cat {
  list-style: none;
  margin-bottom: 0.8rem;
}
.child-cat img {
  padding-right: 8px;
  width: 25px;
}
.child-cat a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2980b9;
  font-size: 0.9rem;
}



.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
}



.articles-wrapper {
  margin: 0;
  padding: 0;
  max-width: 650px;
  margin: auto;
}
.cat-img {
  width: 100px;
  display: block;
  margin: auto;
}
.cat-title {
  margin: .5rem 0 0;
  text-align: center;
}
.cat-desc {
  text-align: center;
  margin: .8rem 0 2rem;
}
.cat-desc a {
  text-decoration: none;
  color: #2980b9;
}
.article-card {
  list-style: none;
  border-top: solid #212529 1px;
  padding: 2rem 0 2rem;
}
.update {
  display: flex;
  align-items: center;
  font-size: .8rem;
}
.update svg {
  width: 20px;
  margin-right: .5rem;
}
.card-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem 0;
}
.card-meta-cat {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.card-meta-cat li {
  margin-right: .5rem;
  margin-bottom: .5rem;
}
.card-meta-cat li a {
  text-decoration: none;
  font-size: .8rem;
  line-height: 100%;
  color: #2980b9;
}
.card-meta-cat svg {
  width: 20px;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.not-found-article {
  text-align: center;
}



/* pagination */
.pagination {
}
.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  padding-left: 0;
  list-style: none;
}
.pagination li {
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  height: 2rem;
}
.pagination a,
.page-numbers .current {
  text-decoration: none;
  padding: 0 .8rem;
  display: block;
  height: 100%;
  line-height: 2rem;
  color: #2980b9;
}
.page-numbers .current {
  color: #212529;
}



/* 投稿ページ */
.post-content-wrapper .update {
  margin-bottom: .5rem;
}
@media screen and (min-width: 768px) {
  .post-content-wrapper {
    width: 50%;
    margin: auto;
  }
}

.post-content {
  margin: 0 auto 1.3rem;
}
.post-content p {
  color: #6e7076;
  line-height: 1.8;
}
.post-content strong {
  font-weight: 600;
}
.post-content a {
  color: #2980b9;
  text-decoration: none;
}
.post-content img {
  display: block;
  width: 100%;
}

.article-title {
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .article-title {
    font-size: 36px;
  }
}



/* search */
.not-keyword {
  text-align: center;
}
.search-result {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}



/* 404 */
.not-found-page {
  text-align: center;
}
.not-found-page a {
  text-decoration: none;
  color: #2980b9;
}



/* index ショートコード */
.toc {
  max-width: 650px;
  margin: auto;
  position: relative;
  background: #ececec;
  padding: 1rem 1rem;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 2px;
}
.toc-title {
  text-align: left;
  font-size: 1.25rem;
  margin: 0;
  padding: 0 9px ;
}
.toc-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 9px 9px 0;
  list-style: none;
  line-height: 1.7;
}
.toc-list a {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.toc-list ul {
  list-style: none;
  padding-left: 1rem;
}



.footer-content {
  background-color: #212529;
  color: white;
  padding: 40px;
  text-align: center;
}
.sns-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.sns-links li {
  margin: 0 10px 20px;
}
.sns-links svg {
  width: 30px;
  fill: #fff;
}